* {
    box-sizing: border-box;
}

.header {
	background-color:#ffffff;
	position:relative;
	/*make sure background of header stays white*/
	background-image:none;
	background-color:white;
	
}

.container{
	margin-bottom:-128px;
	min-height:100%;
	width:960px;
	margin:0 auto;
}

.menu-links{
	color:inherit;
	text-decoration: inherit;
}


.menu {
	list-style-type: none;
	float:right;
	background-color:white;
	padding:36.5px 0;
	color:#c2b7b0;
	
	}

/*float each list element left to create horizontal menu*/
li {
	float:left;
	font-size:15px;
	
	
}

/*for left-most link in menu*/
#menu-about {
	padding-right:20px;
	border-right:1px #c2b7b0 solid;
}

/*for middle link in menu*/
#menu-portfolio {
	padding-right:20px;
	padding-left:20px;
	border-right:1px #c2b7b0 solid;
}

/*for right-most link in menu*/
#menu-contact {
	padding-left:20px;

}



/*line across bottom of header, using positioning*/
#hr-line {
	position: absolute;
    top: 90px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top:1px #c2b7b0 solid ;
}

/*background image for page*/
html, body{
	color:#777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image:url(../images/ricepaper_v3.png);
	height:100%;
	margin:0;
	
}

/*set as inline block to make background color only span the width of the text*/
h1 {
	background-color: #4aaaa5;
	color: white;
	padding:30px;
	font-size: 30px;
	display: inline-block;
	font-weight:600;

}

h1,h2,h3,div {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}


ul {
	/*position:absolute;*/
	/*messing with positioning right:50px;*/
}

h2 {
	font-size:30px;
	font-weight:600;
	color:#4aaaa5;
	padding-bottom:30px;
	border-bottom:2px #c2b7b0 solid;
	margin-bottom:30px;
}

h3 {
	font-size:20px;
	font-weight:600;
	color:#4aaaa5;
	padding-bottom:20px;
	border-bottom:1px #c2b7b0 solid;
	margin-bottom:20px;
}

.content-main {
	float:left;
	
}

.content-main-primary {
	float:left;
	margin:40px;
	margin-left:0;
	border:1px #dddddd solid;
	background-color:#ffffff;
	padding:30px;
}

.content-main-secondary{
	margin-top:40px;
	border:1px #dddddd solid;
	background-color:#ffffff;
	padding:30px;
	max-width:270px;
}

#aboutMeImage {
	/*height:150px;
	width:200px;*/
	max-width:200px;
	width:100%;
	height:auto;
	float:left;
	margin-right:30px;


}

/*set position relative so as to set the banner relative to image. float all images left, 
content div has space for exactly 2 images, so it creates 2 columns*/
.portfolio-image{
	float:left;
	width:270px;
	height:200px;
	margin:30px 12px;
	position:relative;
}

/*absolutely position within portfolio image, set z index to show over it*/
.portfolio-banner{
	background-color:#4aaaa5;
	color:white;
	font-size:24px;
	z-index: 2;
	position:absolute;
	bottom:10px;
	height:24px;
	width:270px;
	text-align:center;
	padding:15px 0;
}

.bio-content{


}

/*had to fiddle with my image sizes to get them to look right, the stock images
from icon finder had some white borders and such, I'm not real good at modifying 
images in GIMP at the moment. */
#linkedin {
	width:59px;
	height:59px;
	float:left;
}

#stackoverflow {
	width:54px;
	height:54px;
	float:left;
	margin:0 16px;
	margin-top:3px;

}

#github {
	width:59px;
	height:59px;
	float:right;
	
}

p {
	line-height:2;
	padding-bottom:30px;
	
	
}



footer {
	clear:both;
	background-color:#666666;
	border-top:8px #4aaaa5 solid;
	height:90px;
	color:#c2b7b0;
	width:100%;
	margin-top:30px;

	
	
}

/*spacer to push the footer below content.  clear to make the div go below floated content*/
.push {
	height:128px;
	clear:both;
}



#footer-container{
	width:200px;
	margin:32px auto;
	font-size:13px;
}

/*make placeholder text a lighter color*/
#email::placeholder {
	color:#c2b7b0;
}

#name::placeholder {
	color:#c2b7b0;
}

#message {
	height:150px;
	/*only resize text area vertically*/
	resize:vertical;

}

input[type=text],input[type=email],textarea {
	width:564px;
	padding:10px;
	margin-top:8px;
	margin-bottom:14px;
	margin-right:30px;
	
}

.contact-form-wrapper {
	font-family:sans-serif;

}

/*style for submit button*/
input[type=submit] {
	width:140px;
	font-size:20px;
	color:white;
	padding:12px 0;
	background-color:#4aaaa5;
	border:none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*float all columns left */
[class*="col-"] {
    float: left;
    /*border: 1px solid red;*/
}

#connect-links:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 980px) {
    /* For mobile phones: */
    .container {
        width: 750px;
    }
    #aboutMeImage{
    	max-width:395px;
    	float:left;
    	padding-bottom:10px;
    }
    #stackoverflow {
		margin:0 6px;
		padding-top:3px;
	}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        width: 640px;
    }
    #aboutMeImage{
    	max-width:250px;
    	float:left;
    	padding-bottom:10px;
    }
    [class*="col-"] {
        width: 100%;
    }

    .content-main-primary{
    	margin-right:0px;
    }
    .content-main-secondary{
    	max-width:247px;
    }
   /* #stackoverflow {
		margin:0 6px;
		padding-top:3px;*/
}

@media only screen and (max-width: 640px) {
		.container{
			width:100%;
		}
		 #aboutMeImage{
    	max-width:100%;
    	float:left;
    	padding-bottom:10px;
    }

	}